<template>
  <div class="hello">
    <h1> treinamento de vuejs</h1>

    <p>participantes:</p>
    <ul>
      <li v-for="item in participantes" :key="item">
        {{ item }}
      </li>
    </ul>

  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: function () {
    return {
      participantes: ['matheus', 'wallace', 'danilo', 'fabio', 'rodrigo', 'julio', 'grabriel']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
